@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');
:root{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --fonte-principal:  "Roboto Condensed", serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.cabecalho{
    padding: 2% 0% 0% 15% ;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
 .menu__links {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

strong{
    color: var(--cor-terciaria);
}

main{
    /* height: 100vh; */
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
   padding: 4% 15%;
}

.conteudo__imagem{
    width: 50%;
}

section{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 82px;
}

.conteudo{
    width: 400px;
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: var(--cor-terciaria) solid 2px;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 12px 0px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
}

.redes:hover{
    background-color: var(--cor-hover);
}

.paragrafo__sobre{
    width: 400px;
}

footer{
    background-color: var(--cor-terciaria);
    color: #000;
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px){

    header{
        padding: 10%;
    }

    nav{
        justify-content: center
    }

    main{
        flex-direction: column-reverse;
        padding: 5%;
    }

    section{
        width: auto;
    }
}